<h1>header</h1>

<form method="POST" action="/new">
  <label for="author">Name: <input type="text" name="author" /></label>
  <br />
  <br />
  <label for="message">Message: <input type="text" name="message" /></label>
  <br />
  <br />

  <button type="submit">Submit</button>
</form>
