<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/new">Create a new mini message</a>
    <% messages.forEach((message) => { %>
    <ul>
      <li>
        <%=message.text %> it's me <%=message.username %> and i was added
        <%=message.added %>
      </li>
    </ul>
    <button><a href="/message/<%= message.id %>">Show details</a></button>
    <% }) %>
  </body>
</html>
